<div class ="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-marginless" >New CLip</p>
        <button class="delete" aria-label="close" 
        (click)="cancelClip()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <div class="video-box">
            <video #videoSelector
            (loadedmetadata)="defineVideoDuration()"
            (timeupdate)="updateSelectors()"
            >
              <source src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" type="video/mp4">
            </video>
          </div>
          <div class="videoControls">
            <div class="play-pause"
            (click)="togglePlay()"
            >
                <span class="icon has-text-primary">
                  <i [ngClass]="[iconPlayPause, 'fas', 'fa-lg']"></i>                  
                </span>
            </div>
            <div class="input-range-container">
              <div class="input-range-tracker"></div>
              <div class="input-range-tracker-between"></div>
              <input type="range" min="0" name="range-lower" id="range-lower"
              [max]="videoDuration"
              [(ngModel)]="clipStartInput"
              (change)="seekVideo('start')"
              >
              <input type="range" name="range-upper" id="range-upper"
              min="0"
              [max]="videoDuration"
              [(ngModel)]="clipEndInput"
              (change)="seekVideo('end')"        
              >
            </div>
          </div>

        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name" 
                [(ngModel)]="clipNameInput">
                <span class="icon is-small is-left">
                  <i class="fas fa-edit"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Range(seconds)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="Start" min="0"
                [max]="clipEndInput - 1" 
                [(ngModel)]="clipStartInput"
                >
                <span class="icon is-small is-left">
                  <i class="fas fa-hourglass-start"></i>
                </span>
                <span class="rangeValues"></span>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="End"
                [min]="clipStartInput + 1 "
                [max]="videoDuration" 
                [(ngModel)]="clipEndInput">
                <span class="icon is-small is-left">
                  <i class="fas fa-hourglass-end"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot" style="justify-content: flex-end">
        <button class="button is-primary" 
          (click)="onSaveClip()">Save
        </button>
        <button class="button" 
          (click)="cancelClip()" >Cancel
      </button>
      </footer>
      </div>
  </div>
</div>