<div class ="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-marginless" >New CLip</p>
        <button class="delete" aria-label="close" 
        (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <app-video-editor
            [playerType]="modalType"
            [clip]="clipToEdit"
            [clipStartInput]="clipStartInput"
            [clipEndInput]="clipEndInput"
            [videoSource]="videoSource"
          ></app-video-editor>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name" 
                [(ngModel)]="clipNameInput" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-edit"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Range(seconds)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="Start" min="0"
                [max]="clipEndInput - 1" 
                [(ngModel)]="clipStartInput"
                >
                <span class="icon is-small is-left">
                  <i class="fas fa-hourglass-start"></i>
                </span>
                <span class="rangeValues"></span>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="End"
                [min]="clipStartInput + 1 "
                [max]="videoDuration" 
                [(ngModel)]="clipEndInput">
                <span class="icon is-small is-left">
                  <i class="fas fa-hourglass-end"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot" style="justify-content: flex-end">
        <button class="button is-primary" 
          (click)="onSaveClip()">Save
        </button>
        <button class="button" 
          (click)="closeModal()" >Cancel
      </button>
      </footer>
      </div>
  </div>
</div>