<div class ="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-marginless" >New CLip</p>
        <button class="delete" aria-label="close" 
        (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <app-video-editor
            [playerType]="modalType"
            [clip]="clipToEdit"
            [clipStartInput]="clipStartInput"
            [clipEndInput]="clipEndInput"
            [videoSource]="videoSource"
          ></app-video-editor>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name" 
                [(ngModel)]="clipNameInput" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-edit"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Range(seconds)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="Start" min="0"
                [max]="clipEndInput - 1" 
                [(ngModel)]="clipStartInput"
                >
                <span class="icon is-small is-left">
                  <i class="fas fa-hourglass-start"></i>
                </span>
                <span class="rangeValues"></span>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="End"
                [min]="clipStartInput + 1 "
                [max]="videoDuration" 
                [(ngModel)]="clipEndInput">
                <span class="icon is-small is-left">
                  <i class="fas fa-hourglass-end"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Tags</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Tag Name" [(ngModel)]="tagInput">
              </div>
              <div class="control">
                <a class="button is-info" (click)="onAddTag()">
                  Add
                </a>
              </div>
            </div>
          </div>
        </div>
          <span class="tag is-info" *ngFor="let tag of clipTags, let i = index"  style="margin: 0 4px">
            {{tag}}
            <button class="delete is-small" (click)="removeTag(i)"></button>
          </span>
      </section>
      <footer class="modal-card-foot" style="justify-content: flex-end">
        <button class="button is-primary" 
          (click)="onSaveClip()">Save
        </button>
        <button class="button" 
          (click)="closeModal()" >Cancel
      </button>
      </footer>
      </div>
  </div>
</div>