<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1 class="title is-4 has-text-white-bis">Video Slicer</h1>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" (click)="storeData()">
          <strong>Save Data</strong>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="modal is-active" *ngIf="saveSuccess">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="notification is-success">
      <button class="delete" (click)="saveSuccess = false"></button>
      Clips Saved Correctly
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="saveSuccess = false"></button>
</div>