<div class="card">
  <header class="card-header">
    <p class="card-header-title has-text-grey-light">
      Start:  {{clip.start}} - End: {{clip.end}}
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-info" >{{clip.name}}</p>
        <span class="tag is-success">
            Bar
          <button class="delete is-small"></button>
        </span>
        <span class="tag is-success">
            Bar
          <button class="delete is-small"></button>
        </span>
        <span class="tag is-success">
            Bar
          <button class="delete is-small"></button>
        </span>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item"
    (click)="selectClip()">
    Play</a>
    <a class="card-footer-item"
    (click)="editCLipEmmiter()">
    Edit</a>
    <a class="card-footer-item" 
    (click)="deleteCLipEmmiter()"
    >Delete</a>
  </footer>
</div>