<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{clip.name}}
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-5">{{clip.name}}</p>
        <p class="subtitle is-6">{{clip.start}} - {{clip.end}}</p>
      </div>
      <div class="media-right">
        <span class="tag is-success">
            Bar
          <button class="delete is-small"></button>
        </span>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item"
    >
    Play</a>
    <a class="card-footer-item"
    (click)="editCLipEmmiter()">
    Edit</a>
    <a class="card-footer-item" 
    (click)="deleteCLipEmmiter()"
    >Delete</a>
  </footer>
</div>