<div class="video">
  <div class="video-box">
    <video #videoSelector
    (loadedmetadata)="defineVideoDuration()"
    (timeupdate)="manageVideoTracker()"
    (canplay)="canPlay()"
    >
      <source [src]="videoSource"type="video/mp4">
    </video>
  </div>
  <div class="videoControls">
    <div class="play-pause"
    (click)="togglePlay()"
    >
        <span class="icon has-text-primary">
          <i [ngClass]="[iconPlayPause, 'fas', 'fa-lg']"></i>                  
        </span>
    </div>
    <div class="input-range-container">
      <div class="input-range-tracker"></div>
      <div class="clip-width" #clipWidth></div>
      <div class="input-range-tracker-clip" #trackRangeClip (click)="changeCurrentTime($event)"></div>
      <div class="input-range-tracker-between" #trackerBetween></div>
      <input type="range" min="0" name="range-lower" id="range-lower"
      [max]="videoDuration"
      [value]="clipStart"
      disabled
      >
      <input type="range" name="range-upper" id="range-upper"
      min="0"
      [max]="videoDuration"
      [value]="clipEnd"
      disabled
      >
    </div>
  </div>
</div>